html {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}


h1 {
    font-size: 3em;

}

h2 {
    font-size: 2em;
}

body {
    width: 485px;
    background-color:#000000 ;
    margin: 0 auto;
}

header, h1 {
        text-align: center;
        background-color: #ffffff;
        color: #007d7b;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
}


nav {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: -20px;
}

nav ul li {
    margin-right: 40px;
}  

nav a {
    font-size: 1.5em;
}

nav ul li:last-child {
    display: none;
}

nav a {
    text-decoration: none;
    color:#ffffff
}

nav ul {
    display:flex;
    list-style: none;
    list-style-type: none;
}

#gallery #about {
    background-color: #ffffff;
    color: #000000;
    width: 90%;
    margin: auto;
    padding: 10px;
}


main {
background-color:#ffffff ;

}



#gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

figure {
    position: relative;
}

figcaption {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    color: white;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}


.topleftwhite{
    top: 0;
    left: 0;
    color: #ffffff;
}

.topleftblack{
    top: 0;
    left: 0;
    color: #000000;
}

.bottomleftblack{
    top: 0;
    left: 0;
    color: #000000;
}

.bottomleftwhite{
    top: 0;
    left: 0;
    color: #ffffff;
}

#contact h2,
#contact p {
    color: #ffffff;
    text-align: center;
}

#contact p {
    padding-bottom: 10px;
}

#contact {
  color: #ffffff;
}

input {
    padding: 4px;
    margin: 5px;
    padding-left:50px;
    padding-right:50px;
    color: #007d7b;
    
}

input::placeholder {
    color:#007d7b;
    font-weight: bold;
  }

  
  label {
    margin: 0 5px;
    font-size: 16px;
    
  }
  
input {
    margin: 8px 0;
    padding: 10px 10px;
    color: #007d7b;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 10px;
    width: 90%;
    text-transform: uppercase;
    align-items: center;
  }
  



button{
    text-transform: uppercase;
    background-color: #007d7b;
    color: #ffffff;
    margin-top: 20px;
    padding-right:60px;
    padding-left:60px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: bold;
}



.button {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
   margin-top: 10px;
  }

footer {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: small;
    padding-top: 40px;
}


@media screen and (min-width: 880px){
  
    body {
    width: 880px;
    }

    header {
    width: 880px;
    text-align: left;
    background-color: #ffffff;
    color: #007d7b;
    }

    main {
    overflow: hidden;
    }

    #gallery{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
    }

    nav li {
      padding-bottom: 15px;
    }

    #about{
        padding: 10px;
    }

    #gallery {
        padding: 10px;
    }
    img {
        width: 100%; 
      }
      

}

@media screen and (min-width: 1300px){

    #gallery{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 4 (1fr);
gap: 10px;
margin: auto;
justify-content: center;
}


nav {
    height: 100px;
    text-align: right;
    }
    
    img {
    width: 100%;
    }

    form{
    width: 80%;
    margin: auto;
    }
        }


